/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
    position: relative;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background: linear-gradient( 200.96deg, #418af8 -29.09%, #94afe0 51.77%, #2215db 129.35%) no-repeat center center fixed;
}

button {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: transform ease-in 0.1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

button.delete-product {
    background-color: transparent;
    color: red;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

.months-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.year-list {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

.list-element {
    text-align: center;
    border: 1px solid rgb(212, 212, 230);
    border-radius: 15px;
    margin-top: 2px;
    padding: 0.5rem;
    cursor: pointer;
    width: 100px;
}

.list-element:hover {
    border: 1px solid rgb(86, 89, 238);
    transition: 0.5s;
}

.lists-view {
    display: grid;
    grid-template-columns: 30vw 65vw;
    grid-template-rows: 30vh;
    width: 100%;
}

.select-button,
.item-managment {
    text-align: center;
}

.container {
    position: relative;
}

.container span.month-text {
    display: block;
    z-index: 0;
}

.container span.month-status {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.fa-check-circle {
    color: greenyellow;
}

.fa-spinner,
.fa-hand-sparkles {
    color: white;
}

.product-list-view {
    display: flex;
    text-align: center;
    justify-content: center;
}

.products-table th,
td {
    border: 1px solid white;
    width: 20vw;
}

.delete-column {
    width: 16px !important;
}

a {
    color: black;
    text-decoration: none;
}

.table-view {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.files-table {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 0 2% 0 2%;
}

.files-table table {
    border: 1px solid white;
    text-align: center;
}

.files-table th,
td {
    border: 1px solid white;
}

.files-table td {
    max-width: 20vw;
}

.product-view {
    height: 100%;
    text-align: center;
}

caption {
    color: #ffffff;
    border: 1px solid white
}

.img-preview {
    max-width: 50px;
    max-height: 50px;
}

.delete {
    color: red;
    cursor: pointer;
}

.notes {
    margin-top: 1%;
}

textarea.info {
    width: 50%;
    height: 20vh;
    overflow-y: scroll;
    resize: vertical;
}
